header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
}


.logo img {
    height: 100px; 
    align-items: flex-end;
}

/*Menu */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    text-decoration: none;
    color: #0f539c; 
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ccc; /* Cor do texto muda ao passar o mouse*/
}

.banner {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.text {
    flex: 1;
}

.text h1 {
    font-size: 50px;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
}


.image2 {
    flex: 1;
}

.image2 img {
    max-width: 70%;
    height: auto;
}

.section .image2 {
    flex: 1;
    order: -1; /* Inverte a ordem para a imagem ficar à esquerda */
}

.banner1 {
    background-color: #0f539c;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
   
}

.text1 {
    flex: 1;
}

.text1 h1 {
    font-size: 50px;
}

.image1 {
    flex: 1;
}

.image1 img {
    max-width: 100%;
    height: auto;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.section .text {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.section .image {
    flex: 1;
    order: -1; /* Inverte a ordem para a imagem ficar à esquerda */
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.section .text {
    flex: 1;
}

.section .image {
    flex: 1;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.section .text {
    flex: 1;
}

.section .image {
    flex: 1;
}


.botao{
        background-color: #007bff; 
        color: #fff; 
        padding: 10px 20px; /* Espaçamento interno do botão */
        border: none; 
        border-radius: 5px; 
        font-size: 16px; 
        cursor: pointer; /* Cor muda ao passar o mouse*/
    }
    
    .botao:hover {
        background-color: #0f539c; /* Cor muda ao passar o mouse*/
    }
    
    .link {
        color: #007bff; 
        text-decoration: none; 
        /*font-weight: bold; */
        font-size: 16px;
    }
    
    .link:hover {
        color: #0056b3;
        text-decoration: underline;
        transition: color 0.3s ease;
    }



nav {
    display: flex;
    align-items: center;
}


ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

ul li {
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

/* Hero Section */
.uso {
    text-align: center;
    margin-top: 50px;
}

.uso h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.uso p {
    font-size: 18px;
    margin-bottom: 30px;
}

.como-usar {
    text-align: center;
    padding: 50px 0;
}

.como-usar h2 {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 30px;
}

.steps {
    display: flex;
    justify-content: center;
}

.step {
    flex: 1;
    max-width: 300px;
    margin: 0 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.step img {
    width: 80px;
    margin-bottom: 20px;
}

.step h3 {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.step p {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

footer {
    background-color: #001;
    color: #fff;
    text-align: center;
    padding: 150px;
}
#sobreapp{
   margin-right: 150px;
   text-align: center;
   margin-left: 180px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
#conteudo-sobre{
    overflow:hidden;
    height: 0px;
    transition: 1s;
    text-align: center;
    padding: 0px;
    font-size: 16px;
    justify-content: space-between;
}
.mostrar{
    height: 100px !important;
}
#paraempresas{
    margin-right: 123px;
   text-align: center;
   margin-left: 180px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
#comousar{
    margin-right: 155px;
    text-align: center;
    margin-left: 180px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}
#localizar{
    margin-right: 52px;
    text-align: center;
    margin-left: 118px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}