header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f539c;
    padding: 20px;
}


.logo img {
    height: 150px; 
}

/*Menu */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ccc; /* Cor do texto muda ao passar o mouse*/
}

.banner {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.text {
    flex: 1;
}

.text h1 {
    font-size: 36px;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
}
.banner1 {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.text1 {
    flex: 1;
}

.text1 h1 {
    font-size: 36px;
}

.image1 {
    flex: 1;
}

.image1 img {
    max-width: 100%;
    height: auto;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.section .text {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.section .image {
    flex: 1;
    order: -1; /* Inverte a ordem para a imagem ficar à esquerda */
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.section .text {
    flex: 1;
}

.section .image {
    flex: 1;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.section .text {
    flex: 1;
}

.section .image {
    flex: 1;
}


.botao{
        background-color: #007bff; 
        color: #fff; 
        padding: 10px 20px; /* Espaçamento interno do botão */
        border: none; 
        border-radius: 5px; 
        font-size: 16px; 
        cursor: pointer; /* Cor muda ao passar o mouse*/
    }
    
    .botao:hover {
        background-color: #0f539c; /* Cor muda ao passar o mouse*/
    }
    
    .link {
        color: #007bff; 
        text-decoration: none; 
        /*font-weight: bold; */
        font-size: 16px;
    }
    
    .link:hover {
        color: #0056b3;
        text-decoration: underline;
        transition: color 0.3s ease;
    }

footer {
    background-color: #001;
    color: #fff;
    text-align: center;
    padding: 150px;
}
